<div class="flex" cdkDropListGroup>
  <div class="outline w-25 pa3 mr2 example-container">
    <app-drag [dragItems]="metrics"></app-drag>
  </div>
  <div class="outline w-25 pa3 mr2 example-container">
    <app-drag1 [dragItems]="drag1"></app-drag1>
  </div>
  <div class="outline w-25 pa3 mr2 example-container">
    <app-drop1 [dragItems]="drop1"></app-drop1>
  </div>
  <div class="outline w-25 pa3 mr2 example-container">
    <app-drop2 [dragItems]="drop2"></app-drop2>
  </div>
  <div class="outline w-25 pa3">
    Tables / Lists
  </div>


</div>
